<h1>Bienvenidos a Rusell Bedford</h1>
<p>Aquí podrá consultar información MUY importante de su compañía:</p>
<ul>
	<li>Gráficos de información histórica</li>
	<li>Indicadores para análisis</li>
	<li>Proyecciones de sus indicadores</li>
</ul>

<%= link_to "Inicie aquí", root_path, class: "btn btn-primary btn-lg" %>
